img.avatar
{
    height: var(--avatar-size);
    width: var(--avatar-size);
    border-radius: 99999px;
}
.hidden
{
    display:none;
}
.muted
{
    color:var(--text-muted-color);
}
.btn
{
display: flex;
align-items: center;
justify-content: center;
width: -moz-fit-content;
width: fit-content;
border: none;
}
.btn-secondary
{
    color: white;
    background-color: var(--black-color);
}

.btn-follow
{
    padding: 8px 16px;
    font-weight: 600;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-secondary:hover
{
    background-color: var(--black-color-tinted);
}

.hover-light:hover
{
    background-color: var(--hover-light);
    border-radius: 9999px;
    cursor: pointer;
}
.hover-secondary:hover
{
    background-color: var(--hover-secondary);
    cursor: pointer;
}
