img.avatar
{
    height: var(--avatar-size);
    width: var(--avatar-size);
    border-radius: 99999px;
    -webkit-border-radius: 99999px;
    -moz-border-radius: 99999px;
    -ms-border-radius: 99999px;
    -o-border-radius: 99999px;
}
.hidden
{
    display:none;
}
.muted
{
    color:var(--text-muted-color);
}
.btn
{
display: flex;
align-items: center;
justify-content: center;
width: -moz-fit-content;
width: fit-content;
border: none;
}
.btn-secondary
{
    color: white;
    background-color: var(--black-color);
}

.btn-follow
{
    color: white;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-color: var(--black-color);

}
.btn-unfollow
{
    cursor: pointer;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.438);
    color: var(--black-color-tinted);
    background-color: white;
}

.btn-secondary:hover, .btn-follow:hover
{
    background-color: var(--black-color-tinted);
}

.hover-light:hover, .btn-unfollow:hover
{
    background-color: var(--hover-light);
    border-radius: 9999px;
    cursor: pointer;
}
.hover-secondary:hover
{
    background-color: var(--hover-secondary);
    cursor: pointer;
}

.btn-disabled
{
    opacity: 0.4;
    cursor: not-allowed;
}