.profile-banner
{
    display: flex;
    align-items: center;
    gap: 24px;
}
.profile-banner svg
{
    height: 1em;
}

.profile-name
{
    display:flex;
    flex-direction: column;
}
.profile-name > span
{
    font-size: small;
}
.profile-header-image
{
    height: 200px;
    width: 100%;
    position: relative;
}
.profile-header-image > .header-image{
    height: 100%;
    width: 100%;
}
.profile-header-image > .avatar
{
    height: 65%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 22px;
    transform: translate(0,50%);
    box-sizing: unset;
    padding:4px;
    background-color: white;
    border-radius: 9999px;
}
.profile-header-image > .avatar > img
{
    height: 100%;
    border-radius: 9999px;
}
.profile-information
{
    padding:16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.profile-controls
{
    display: flex;
    justify-content: end;
    margin-bottom: 30px;
    gap: 8px;
}
.profile-controls svg
{
    height: 1.5em;
    font-weight: 700;
}

.btn-ghost
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: rgb(207, 217, 222) 1px solid;
    padding:8px;
    border-radius: 9999px;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
}

.profile-name{
    /* margin-bottom: 16px; */
}
.profile-additional-info
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 8px;
}
.stats
{
    display: flex;
    justify-content: start;
    gap: 24px;
    font-weight: 600;
}
.stats .muted
{
    font-size: 14px;
    font-weight: normal;
}
.info
{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 4px;
}
.profile-header .info svg
{
    fill: var(--text-muted-color);
}